table {
  width: 100%;
}
tr {
  background-color: #def;
}
tr:nth-child(odd) {
  background-color: #cde;      
}
th {
  background-color: #cba;
}
td {
  width: auto;
  height: auto;
  color: red;
  background: transparent;
}