<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Climate Summary Details</title>
		<div th:insert="fragments/nav :: nav"></div>
		
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <label for="stationName">Station Name</label>:
                        <span class="form-control" id="stationName"
                              th:text="${single.stationName}"></span>

                <div class="col-md-6">
                        <label for="provinceCode">Province</label>:
                        <span class="form-control" id="provinceCode"
                              th:text="${single.provinceCode}"></span>
                    </div>

                <div class="col-md-6">
                        <label for="tempTaken">Date</label>:
                        <span class="form-control" id="tempTaken"
                              th:text="${single.tempTaken}"></span>
                    </div>

                <div class="col-md-6">
                        <label for="meanTemp">Mean Temp</label>:
                        <span class="form-control" id="meanTemp"
                              th:text="${single.meanTemp}"></span>
                    </div>

                <div class="col-md-6">
                        <label for="monthlyMaxTemp">Highest Monthly Maximum Temp</label>:
                        <span class="form-control" id="monthlyMaxTemp"
                              th:text="${single.monthlyMaxTemp}"></span>
                    </div>

                <div class="col-md-6">
                        <label for="monthlyMinTemp">Lowest Monthly Minimum Temp</label>:
                        <span class="form-control" id="monthlyMinTemp"
                              th:text="${single.monthlyMinTemp}"></span>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer th:insert="fragments/footer :: footer">
    
    </footer>
    
</html>
