<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<title>Internal server error</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Following is use of CSS stylesheet -->
<link href="../static/styles/main.css" 
th:href="@{../styles/main.css}" rel="stylesheet" media="screen" />
</head>
<body>

<h1>Sorry, the server has encountered an internal error :(</h1>

<div th:insert="fragments/nav :: nav"></div> 


</body>

</html>